.header {
  font-family: "Covered By Your Grace", cursive; }

.list_title {
  font-family: "Covered By Your Grace", cursive; }

#todos {
  padding-left: 0px;
  margin-top: 10px; }

.item {
  list-style: none;
  font-size: 20px;
  font-family: "Covered By Your Grace", cursive; }

ul span {
  padding-left: 10px; }

.done {
  text-decoration: line-through; }

.add_button:hover, .delete_button:hover {
  color: rgba(29, 182, 173, 0.8);
  transition: color 0.3s, border 0.3s; }
